@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .gradient-border {
    position: relative;
    border-radius: 0.75rem;
  }

  .gradient-border::before {
    content: '';
    position: absolute;
    inset: -2px;
    background: linear-gradient(to right, #4f46e5, #9333ea);
    border-radius: 0.875rem;
    z-index: -1;
  }
}